
/* Email Sub Modal: */
/* The Modal (background) */
.custom-modal {
 color: #000;
 display: none; /* Hidden by default */
 position: fixed; /* Stay in place */
 z-index: 1; /* Sit on top */
 left: 0;
 top: 0;
 width: 100%; /* Full width */
 height: 100%; /* Full height */
 overflow: auto; /* Enable scroll if needed */
 background-color: rgb(0,0,0); /* Fallback color */
 background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.custom-modal-content {
 background-color: #fefefe;
 margin: 15% auto; /* 15% from the top and centered */
 margin-top: 7.5%;
 padding: 20px;
 border: 1px solid #888;
 width: 80%; /* Could be more or less, depending on screen size */
 overflow: auto;
}

/* The Close Button */
.custom-close {
 color: #aaa;
 float: right;
 font-size: 28px;
 font-weight: bold;
}

.custom-close:hover,
.custom-close:focus {
 color: black;
 text-decoration: none;
 cursor: pointer;
}
